* {
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
}

.game-container { 
  position: relative;
  width: 240px;
  height: 208px;
  background: url('/images/map.png') no-repeat no-repeat;
  transform: scale(3);
  image-rendering: pixelated;
}

.player-info {
  position: absolute;
  top: 0;
  left:0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
  text-transform: uppercase;
}
input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

#toggle-device {
  background: #fcff59;
}

#toggle-device.clicked {
  background-color:  #59fcff;
}

#toggle-music {
  background: #ffc259;
}

#toggle-music.clicked {
    background-color:  #e959ff;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 16px;
  height: 16px;
}
.Character {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top:-18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
}
.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/characters.png);
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 80px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}
.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}
.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}
.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}
.Character_shadow {
  background: url(/images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
  position: absolute;
  top: -13px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.Character_coins {
  margin-left: 1px;
  color: gold;
}
.Character_health {
  margin-right: 1px;
  color: greenyellow;
}

/* Coins */
.Coin_sprite {
  background: url(/images/coin.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
}
@keyframes coinFloat {
  from { transform: translateY(0) }
  to { transform: translateY(5px) }
}
.Coin_shadow {
  background: url(/images/coin-shadow.png) no-repeat no-repeat;
}

/* Projectile */
.Projectile {
  /* transition: transform 0.4s; */
}

.Projectile_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/characters.png);
  /* animation: coinFloat 0.8s linear infinite alternate-reverse; */
}
@keyframes projectileAnimateLeft {
  from { transform: translateX(32px) }
  to { transform: translateX(0px) }
}
.Projectile[data-direction="left"] .Projectile_sprite {
  background-position-x: 48px;
  animation: projectileAnimateLeft 0.3s;
  
}
@keyframes projectileAnimateRight {
  from { transform: translateX(-32px) }
  to { transform: translateX(0px) }
}
.Projectile[data-direction="right"] .Projectile_sprite {
  background-position-x: 16px;
  animation: projectileAnimateRight 0.3s;

}

/* down */
@keyframes projectileAnimateUp {
  from { transform: translateY(-32px) }
  to { transform: translateY(0px) }
}
.Projectile[data-direction="up"] .Projectile_sprite {
  background-position-x: 32px;
  animation: projectileAnimateUp 0.3s;
}

/* up */
@keyframes projectileAnimateDown {
  from { transform: translateY(32px) }
  to { transform: translateY(0px) }
}
.Projectile[data-direction="down"] .Projectile_sprite {
  background-position-x: 64px;
  animation: projectileAnimateDown 0.3s;

}


.Projectile[data-color="red"] .Projectile_sprite {
  background-position-y: -16px;
}
.Projectile[data-color="orange"] .Projectile_sprite {
  background-position-y: -32px;
}
.Projectile[data-color="yellow"] .Projectile_sprite {
  background-position-y: -48px;
}
.Projectile[data-color="green"] .Projectile_sprite {
  background-position-y: -64px;
}
.Projectile[data-color="purple"] .Projectile_sprite {
  background-position-y: -80px;
}

/* Joy Stick */
.move-buttons {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: scale(2);

  /* width: 100px; */
}

.move-buttons button {
  width: 75px;
  height: 75px;
  
}

#button-left {
  margin-right: 40px;
}

#button-right {
  margin-left: 40px;
}